flows.json
[
    {
        "id": "afe4995d.cfa4a8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1e0163b9.6c797c",
        "type": "tab",
        "label": "REACTION",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a28b7553.c0ca4",
        "type": "subflow",
        "name": "logging",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 320,
                "y": 140,
                "wires": [
                    {
                        "id": "bcbf3d79.4131a8"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "7ce9546.9cc1d2c",
        "type": "http in",
        "z": "afe4995d.cfa4a8",
        "name": "",
        "url": "/foo",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 240,
        "wires": [
            [
                "50c9f92.3ee4808"
            ]
        ]
    },
    {
        "id": "452fdc15.cddb7c",
        "type": "http response",
        "z": "afe4995d.cfa4a8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 280,
        "wires": []
    },
    {
        "id": "50c9f92.3ee4808",
        "type": "http request",
        "z": "afe4995d.cfa4a8",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "http://www.leipzig.de",
        "tls": "",
        "x": 390,
        "y": 240,
        "wires": [
            [
                "a3b72fad.7818b"
            ]
        ]
    },
    {
        "id": "a3b72fad.7818b",
        "type": "function",
        "z": "afe4995d.cfa4a8",
        "name": "remove slides",
        "func": "const cheerio = global.get('cheerio');\n\nconst $ = cheerio.load(msg.payload);\n\n// $('.slides').remove();\n\nmsg.payload = $.html();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 240,
        "wires": [
            [
                "452fdc15.cddb7c"
            ]
        ]
    },
    {
        "id": "32d7ae04.7be912",
        "type": "debug",
        "z": "1e0163b9.6c797c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1010,
        "y": 440,
        "wires": []
    },
    {
        "id": "55987de4.d5e42c",
        "type": "logic",
        "z": "afe4995d.cfa4a8",
        "name": "",
        "x": 510,
        "y": 400,
        "wires": [
            [
                "56ade4aa.37510c"
            ],
            [
                "32e1d10c.1087fe"
            ]
        ]
    },
    {
        "id": "5d97b5bf.f34e2c",
        "type": "template",
        "z": "afe4995d.cfa4a8",
        "name": "status",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head>\n        <title>status</title>\n    </head>\n    <body>\n        status: {{payload.status}}!\n    </body>\n</html>\n",
        "output": "str",
        "x": 830,
        "y": 360,
        "wires": [
            [
                "2100d3f4.9dab64",
                "ea5e8c88.e0cf9"
            ]
        ]
    },
    {
        "id": "5783922a.a5d414",
        "type": "http in",
        "z": "afe4995d.cfa4a8",
        "name": "",
        "url": "/page/:page",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 380,
        "wires": [
            [
                "6dc6f820.fa019"
            ]
        ]
    },
    {
        "id": "6dc6f820.fa019",
        "type": "change",
        "z": "afe4995d.cfa4a8",
        "name": "enrich",
        "rules": [
            {
                "t": "set",
                "p": "payload.page",
                "pt": "msg",
                "to": "req.params.page",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.command",
                "pt": "msg",
                "to": "web",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 380,
        "wires": [
            [
                "55987de4.d5e42c"
            ]
        ]
    },
    {
        "id": "2100d3f4.9dab64",
        "type": "http response",
        "z": "afe4995d.cfa4a8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1130,
        "y": 420,
        "wires": []
    },
    {
        "id": "32e1d10c.1087fe",
        "type": "template",
        "z": "afe4995d.cfa4a8",
        "name": "error",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head>\n        <title>status</title>\n    </head>\n    <body>\n        status: error!\n    </body>\n</html>\n",
        "output": "str",
        "x": 830,
        "y": 480,
        "wires": [
            [
                "2100d3f4.9dab64",
                "ea5e8c88.e0cf9"
            ]
        ]
    },
    {
        "id": "56ade4aa.37510c",
        "type": "switch",
        "z": "afe4995d.cfa4a8",
        "name": "",
        "property": "payload.template",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "status",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 360,
        "wires": [
            [
                "5d97b5bf.f34e2c"
            ],
            [
                "2b687495.27da84"
            ]
        ]
    },
    {
        "id": "2b687495.27da84",
        "type": "template",
        "z": "afe4995d.cfa4a8",
        "name": "404",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head>\n        <title>status</title>\n    </head>\n    <body>\n        template not found\n    </body>\n</html>\n",
        "output": "str",
        "x": 830,
        "y": 420,
        "wires": [
            [
                "2100d3f4.9dab64",
                "ea5e8c88.e0cf9"
            ]
        ]
    },
    {
        "id": "ea5e8c88.e0cf9",
        "type": "subflow:a28b7553.c0ca4",
        "z": "afe4995d.cfa4a8",
        "name": "",
        "x": 1130,
        "y": 520,
        "wires": []
    },
    {
        "id": "bcbf3d79.4131a8",
        "type": "debug",
        "z": "a28b7553.c0ca4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 500,
        "y": 140,
        "wires": []
    },
    {
        "id": "e8809a04.df2bd",
        "type": "primusConnect",
        "z": "afe4995d.cfa4a8",
        "name": "",
        "x": 520,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "688565c.5907b9c",
        "type": "primusSend",
        "z": "afe4995d.cfa4a8",
        "name": "",
        "x": 930,
        "y": 60,
        "wires": []
    },
    {
        "id": "bbd1d74d.3494e",
        "type": "primusSendAll",
        "z": "afe4995d.cfa4a8",
        "name": "",
        "x": 980,
        "y": 120,
        "wires": []
    },
    {
        "id": "cae4fcd5.278a98",
        "type": "primusData",
        "z": "afe4995d.cfa4a8",
        "name": "",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "4c88bac4.d5d3ac"
            ]
        ]
    },
    {
        "id": "4c88bac4.d5d3ac",
        "type": "switch",
        "z": "afe4995d.cfa4a8",
        "name": "ACTIONS",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "action",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 240,
        "y": 60,
        "wires": [
            [
                "aab4b17b.2d8098"
            ]
        ]
    },
    {
        "id": "aab4b17b.2d8098",
        "type": "switch",
        "z": "afe4995d.cfa4a8",
        "name": "FOO",
        "property": "payload.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "foo",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 60,
        "wires": [
            [
                "87f5db96.200de"
            ]
        ]
    },
    {
        "id": "87f5db96.200de",
        "type": "change",
        "z": "afe4995d.cfa4a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"type\":\"update\",\"target\":\"map\",\"component\":\"map\",\"data\":[]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 60,
        "wires": [
            [
                "7fe28511.b17d4c"
            ]
        ]
    },
    {
        "id": "b73f495e.2e26a",
        "type": "function",
        "z": "afe4995d.cfa4a8",
        "name": "DB",
        "func": "const db = global.get('db');\n\ndb.find({}, function (err, docs) {\n    node.send({\n        payload: {\n            type: 'dbUpdate',\n            entrys: docs\n        }\n    });\n});\n\nreturn;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 160,
        "wires": [
            [
                "bbd1d74d.3494e"
            ]
        ]
    },
    {
        "id": "7fe28511.b17d4c",
        "type": "function",
        "z": "afe4995d.cfa4a8",
        "name": "write payload to DB",
        "func": "const db = global.get('db');\n\ndb.insert(msg.payload, function (err, docs) {\n    node.send({});\n});\n\nreturn;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 160,
        "wires": [
            [
                "b73f495e.2e26a"
            ]
        ]
    },
    {
        "id": "2684c04c.03f3f8",
        "type": "inject",
        "z": "1e0163b9.6c797c",
        "name": "add item",
        "topic": "",
        "payload": "{\"type\":\"addItem\",\"name\":\"sword\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 100,
        "wires": [
            [
                "49e497a6.803c78"
            ]
        ]
    },
    {
        "id": "49e497a6.803c78",
        "type": "switch",
        "z": "1e0163b9.6c797c",
        "name": "actions",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "addItem",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "removeItem",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "removeAll",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 200,
        "y": 200,
        "wires": [
            [
                "c9cee4d.9279098"
            ],
            [
                "48e6c708.2dbc5"
            ],
            [
                "60283236.0c3ecc"
            ]
        ]
    },
    {
        "id": "c9cee4d.9279098",
        "type": "function",
        "z": "1e0163b9.6c797c",
        "name": "addItem",
        "func": "msg.payload = {\n    type: 'dbInsert',\n    data: {\n        type: 'item',\n        name: msg.payload.name\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 80,
        "wires": [
            [
                "5661f21b.3cb054"
            ]
        ]
    },
    {
        "id": "5661f21b.3cb054",
        "type": "switch",
        "z": "1e0163b9.6c797c",
        "name": "execute",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "dbInsert",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "dbRemove",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 500,
        "y": 180,
        "wires": [
            [
                "6dea1455.32b5d4"
            ],
            [
                "b2102b78.e4cec8"
            ]
        ]
    },
    {
        "id": "6dea1455.32b5d4",
        "type": "function",
        "z": "1e0163b9.6c797c",
        "name": "dbInsert",
        "func": "const db = global.get('db');\n\ndb.insert(msg.payload.data, function (err, docs) {\n    if (msg.payload.data.type === 'item') {\n        node.send({\n            payload: {\n                type: 'itemDbChanged'\n            }\n        });\n    }\n});\n",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 180,
        "wires": [
            [
                "dcda39f7.e494d8"
            ]
        ]
    },
    {
        "id": "dcda39f7.e494d8",
        "type": "switch",
        "z": "1e0163b9.6c797c",
        "name": "notificatons",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "itemDbChanged",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 810,
        "y": 180,
        "wires": [
            [
                "dc09b1ee.0ca87"
            ]
        ]
    },
    {
        "id": "48e6c708.2dbc5",
        "type": "function",
        "z": "1e0163b9.6c797c",
        "name": "removeItem",
        "func": "msg.payload = {\n    type: 'dbRemove',\n    data: {\n        type: 'item',\n        id: msg.payload.id\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 140,
        "wires": [
            [
                "5661f21b.3cb054"
            ]
        ]
    },
    {
        "id": "b2102b78.e4cec8",
        "type": "function",
        "z": "1e0163b9.6c797c",
        "name": "dbRemove",
        "func": "const db = global.get('db');\n\ndb.remove({ _id: msg.payload.data.id, type: msg.payload.data.type }, function (err, numRemoved) {\n    if (numRemoved) {\n        if (msg.payload.data.type === 'item') {\n            node.send({\n                payload: {\n                    type: 'itemDbChanged'\n                }\n            });\n        }\n    }\n});\n",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 220,
        "wires": [
            [
                "dcda39f7.e494d8"
            ]
        ]
    },
    {
        "id": "947189f2.7f4cf8",
        "type": "inject",
        "z": "1e0163b9.6c797c",
        "name": "remove item",
        "topic": "",
        "payload": "{\"type\":\"removeItem\",\"id\":\"K7BSLhsZzX0UqDmu\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 280,
        "wires": [
            [
                "49e497a6.803c78"
            ]
        ]
    },
    {
        "id": "dc09b1ee.0ca87",
        "type": "function",
        "z": "1e0163b9.6c797c",
        "name": "pushItems",
        "func": "const db = global.get('db');\n\ndb.find({ type: 'item' }, function (err, docs) {\n    node.send({\n        payload: docs\n    });\n});\n",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 180,
        "wires": [
            [
                "32d7ae04.7be912"
            ]
        ]
    },
    {
        "id": "6bdd7b3.296d884",
        "type": "inject",
        "z": "1e0163b9.6c797c",
        "name": "remove all",
        "topic": "",
        "payload": "{\"type\":\"removeAll\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 340,
        "wires": [
            [
                "49e497a6.803c78"
            ]
        ]
    },
    {
        "id": "60283236.0c3ecc",
        "type": "function",
        "z": "1e0163b9.6c797c",
        "name": "dbClean",
        "func": "const db = global.get('db');\n\ndb.remove({}, { multi: true }, function (err, numRemoved) {\n    if (numRemoved) {\n        node.send({\n            payload: {\n                type: 'itemDbChanged'\n            }\n        });\n    }\n});\n",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 280,
        "wires": [
            [
                "dcda39f7.e494d8"
            ]
        ]
    }
]
