userDir/lib/flows/fetch and grab.json
[{"id":"7ce9546.9cc1d2c","type":"http in","z":"afe4995d.cfa4a8","name":"","url":"/foo","method":"get","upload":false,"swaggerDoc":"","x":260,"y":240,"wires":[["50c9f92.3ee4808"]]},{"id":"452fdc15.cddb7c","type":"http response","z":"afe4995d.cfa4a8","name":"","statusCode":"","headers":{},"x":770,"y":240,"wires":[]},{"id":"50c9f92.3ee4808","type":"http request","z":"afe4995d.cfa4a8","name":"","method":"GET","ret":"txt","url":"http://www.leipzig.de","tls":"","x":430,"y":240,"wires":[["a3b72fad.7818b"]]},{"id":"a3b72fad.7818b","type":"function","z":"afe4995d.cfa4a8","name":"remove slides","func":"const cheerio = global.get('cheerio');\n\nconst $ = cheerio.load(msg.payload);\n\n$('.slides').remove();\n\nmsg.payload = $.html();\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":240,"wires":[["452fdc15.cddb7c"]]}]